<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonnelTransferRequest.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonnelTransferRequest.Web.styles.css" asp-append-version="true" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/adminAssets/vendor/fonts/boxicons.css" />

    <!--sweetalert2 Css-->
    <link href="~/adminAssets/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />


    <!--Select2-->
    <link href="~/adminAssets/vendor/libs/select2/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Personel Tayin Sistemi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div>
                        <a href="/admin">Admin</a>
                        <a href="/profil">Profil</a>
                  
                        <a href="/tayin-taleplerim">Tayin Taleplerim</a>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PersonnelTransferRequest.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--cities-->
    <script src="~/js/cities.js"></script>

    <!--sweetalert2-->
    <script src="~/adminAssets/vendor/libs/sweetalert2/sweetalert2.min.js"></script>

    <!--Select2-->
    <script src="~/adminAssets/vendor/libs/select2/js/select2.min.js"></script>

    <!--For success and error message-->
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });
    Toast.fire({
        icon: "success",
        title: '@Html.Raw(TempData["SuccessMessage"])',
    });
        </script>

        TempData.Remove("SuccessMessage");
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });
    Toast.fire({
        icon: "error",
        title: '@Html.Raw(TempData["ErrorMessage"])',
    });
        </script>

        TempData.Remove("ErrorMessage");
    }

    <!--For success and error message-->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
