
@{
    ViewData["Title"] = "Tayin Talepleri";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    //colums for datatable dynamic
    var columns = new List<object>
{

        new { data = "requestDate" },
        new { data = "applicationUser_RegistrationNumber" },
        new { data = "applicationUser_Name" },
        new { data = "applicationUser_Surname" },
        new { data = "applicationUser_Gsm" },
        new {
            data = (string?)null,
            isAction = true,
            hasEdit = false,
            hasDetails = true,
            hasDelete = true,
            editUrl = "/Admin/TransferRequest/Edit/",
            detailsUrl = "/Admin/TransferRequest/Details/",
            deleteUrl = "/Admin/TransferRequest/Delete/"
        } //actions
    };

    //columsJson Serialized
    var columnsJson = System.Text.Json.JsonSerializer.Serialize(columns);

}

@Html.AntiForgeryToken()

<h2 class="fw-bolder">@ViewData["Title"]</h2>

<div class="card">


    <div class="card-body">

        <div class="table-responsive text-nowrap">
            <table id="titleTable"
                   class="table table-striped"
                   data-url="@Url.Action("GetAllTransferRequestForDataTable", "TransferRequest")"
                   data-columns='@Html.Raw(columnsJson)'
                   style="width:100%">
                <thead>
                    <tr>

                        <th>Talep Tarihi</th>
                        <th>Sicil</th>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Telefon Numarası</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>

                <!--Data getting from dataTable-->
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_DataTableAjaxPartial", "titleTable")