@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="fw-bolder">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }

        <div class="card">
            <div class="card-body">
                <form asp-action="AdminChangePassword" method="post">
                    <input type="hidden" asp-for="UserId" />
                    <div class="mb-3">
                        <label asp-for="CurrentPassword" class="fw-bolder mb-2"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger fs-tiny"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="NewPassword" class="fw-bolder mb-2"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger fs-tiny"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="fw-bolder mb-2"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger fs-tiny"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
                </form>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
