
@{
    ViewData["Title"] = "Tüm personeller";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table id="usersTable"
                   class="table table-striped"
                   data-url="@Url.Action("GetAllUserForDataTable", "ApplicationUser")"
                   data-columns='[
                       { "data": "userName" },
                       { "data": "email" },
                       { "data": "phoneNumber" },
                       { "data": "registrationNumber" },  
                   { "data": null }
                   ]' style="width:100%">
                <thead>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>RegistrationNumber</th>
                    </tr>
                </thead>

                <!--Data getting from dataTable-->
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_DataTableAjaxPartial", "usersTable")