
@{
    ViewData["Title"] = "Tüm personeller";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    //colums for datatable dynamic
    var columns = new List<object>
    {
        new { data = "userName" },
        new { data = "name" },
        new { data = "surname" },     
        new { data = "gsm" },
        new { data = "registrationNumber" },
        new { data = (string?)null, isAction = true } 
    };

    //columsJson Serialized
    var columnsJson = System.Text.Json.JsonSerializer.Serialize(columns);

}

@Html.AntiForgeryToken()

<h2 class="fw-bolder">@ViewData["Title"]</h2>

<div class="card">


    <div class="card-body">
        <div class="mb-4">
            <a asp-action="Create" class="btn btn-primary text-white">Personel Ekle</a>

        </div>
        <div class="table-responsive text-nowrap">
            <table id="usersTable"
                   class="table table-striped"
                   data-url="@Url.Action("GetAllUserForDataTable", "ApplicationUser")"
                   data-columns='@Html.Raw(columnsJson)'
                   style="width:100%">
                <thead>
                    <tr>

                        <th>Kullanıcı Adı</th>
                        <th>İsim</th>
                        <th>Soyisim</th>                       
                        <th>Telefon</th>
                        <th>Sicil No</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>

                <!--Data getting from dataTable-->
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_DataTableAjaxPartial", "usersTable")