@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<div class="row">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h2>Yeni kullanıcı oluştur</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.RegistrationNumber" class="form-control" placeholder="Sicil No" />
                <label asp-for="Input.RegistrationNumber">Sicil No</label>
                <span asp-validation-for="Input.RegistrationNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Input.Title" asp-items="@ViewData["Titles"] as SelectList" class="form-select">
                    <option value="">Unvan Seçiniz</option>
                </select>
                <label asp-for="Input.Title">Unvan</label>
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" placeholder="İsim" />
                <label asp-for="Input.Name">İsim</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Surname" class="form-control" placeholder="Soyisim" />
                <label asp-for="Input.Surname">Soyisim</label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.TCKN" class="form-control" placeholder="TC Kimlik No" />
                <label asp-for="Input.TCKN">TC Kimlik No</label>
                <span asp-validation-for="Input.TCKN" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.GSM" class="form-control" placeholder="Telefon Numarası" />
                <label asp-for="Input.GSM">Telefon Numarası</label>
                <span asp-validation-for="Input.GSM" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.DutyStation" class="form-control" placeholder="Görev Yeri" />
                <label asp-for="Input.DutyStation">Görev Yeri</label>
                <span asp-validation-for="Input.DutyStation" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="Email (Opsiyonel)" />
                <label asp-for="Input.Email">Email (Opsiyonel)</label>
              
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Şifre" />
                <label asp-for="Input.Password">Şifre</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Şifreyi Onayla" />
                <label asp-for="Input.ConfirmPassword">Şifreyi Onayla</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
