@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifreniz Yenilenmiştir";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
<html lang="tr"
      class="light-style customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <!--favico-->
    <link rel="icon" type="image/png" href="~/images/uyap-logo.png">

    <title>@ViewData["Title"]</title>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/adminAssets/vendor/fonts/boxicons.css" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--Select2-->
    <link href="~/adminAssets/vendor/libs/select2/css/select2.min.css" rel="stylesheet" />

    <!--Custom css-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body style="background-color:#ffff !important;">
    <!-- Content -->

    <div class="login">
        <div class="row  h-100">
            <div class="col-md-7 d-flex align-items-center justify-content-center">
                <section class="w-50">
                    <div class="my-4 d-block d-md-none justify-content-center text-center">
                        <img class="img-fluid" width="100" src="~/images/uyap-logo.png" />
                        <p class="text-dark fw-bolder mb-3 fs-5">
                            Personel Tayin Sistemi
                        </p>

                    </div>

                    <div class="text-center">
                        <h4>@ViewData["Title"] 🔒️ </h4>
                    </div>


                    <div class="mt-10rem">
                        <div class="mt-5 text-center">
                            <div class="mt-5">
                                <h4 class="mt-5 fw-bolder">@ViewData["Title"] ✅</h4>
                                <p class="mt-5">
                                    Şifreniz yenilenmiştir. Lütfen giriş için  <a asp-page="./Login">tıklayınız</a>.
                                </p>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-5 d-none d-md-block">
                <div class="login-right custom-box-shadow">
                    <div class="mb-4">
                        <img class="img-fluid" width="200" src="~/images/uyap-logo.png" />


                    </div>
                    <p class="text-white mb-3 fs-4">
                        Personel Tayin Sistemi

                    </p>

                    <div>
                        <a class="btn btn-outline-light" asp-page="./Login">Giriş Yap</a>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <!--jQuery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--Bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--custom js-->
    <script src="~/js/site.js"></script>

    <partial name="_ValidationScriptsPartial" />

</body>
</html>

