
@{
    ViewData["Title"] = "Unvanlar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    //colums for datatable dynamic
    var columns = new List<object>
{
      
        new { data = "titleName" },     
        new {
            data = (string?)null,
            isAction = true,
            hasEdit = true,
            hasDetails = false,
            hasDelete = true,
            editUrl = "/Admin/Title/Edit/",
            detailsUrl = "/Admin/Title/Details/",
            deleteUrl = "/Admin/Title/Delete/"
        } //actions
    };

    //columsJson Serialized
    var columnsJson = System.Text.Json.JsonSerializer.Serialize(columns);

}

@Html.AntiForgeryToken()

<h2 class="fw-bolder">@ViewData["Title"]</h2>

<div class="card">


    <div class="card-body">
        <div class="mb-4">
            <a asp-action="Create" class="btn btn-primary text-white">Unvan Ekle</a>

        </div>
        <div class="table-responsive text-nowrap">
            <table id="titleTable"
                   class="table table-striped"
                   data-url="@Url.Action("GetAllTitlesForDataTable", "Title")"
                   data-columns='@Html.Raw(columnsJson)'
                   style="width:100%">
                <thead>
                    <tr>
                       
                        <th>Unvan</th>                   
                        <th>İşlemler</th>
                    </tr>
                </thead>

                <!--Data getting from dataTable-->
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_DataTableAjaxPartial", "titleTable")