@model string
<script src="~/adminAssets/vendor/libs/jquery/jquery.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        var token = $('meta[name="csrf-token"]').attr('content');
        var tableElement = $('#@Model');
        var columns = JSON.parse(tableElement.attr('data-columns'));

        // Find action column configuration
        var actionColumn = columns.find(col => col.isAction);

        tableElement.DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: tableElement.data('url'),
                type: 'POST',
                headers: {
                    'RequestVerificationToken': token
                }
            },
            columns: columns,
            columnDefs: [
             

                {
                    orderable: false,
                    searchable: false,
                    targets: -1, // Target the last column (actions)
                    render: function (data, type, row) {
                        var buttons = '<div class="d-flex align-items-center">';

                        // Edit button - always show if hasEdit is true
                        if (actionColumn.hasEdit ===true) {
                            buttons += `<a href="${actionColumn.editUrl}${row.id}" class="nav-link p-1">
                                          <i class="bx bx-edit"></i>
                                        </a>`;
                        }

                        // Details button - show only if hasDetails is true
                        if (actionColumn.hasDetails === true) {
                            buttons += `<a href="${actionColumn.detailsUrl}${row.id}" class="nav-link p-1">
                                          <i class="bx bx-info-square"></i>
                                        </a>`;
                        }

                        // Delete button - show only if hasDelete is true
                        if (actionColumn.hasDelete === true) {
                            buttons += `<a class="nav-link p-1 cursor-pointer" onclick="confirmDelete('${row.id}','${actionColumn.deleteUrl}')">
                                          <i class="bx bx-trash"></i>
                                        </a>`;
                        }

                        buttons += '</div>';
                        return buttons;
                    }
                }
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json'
            },
        });
    });
</script>