@page "/sifre-degistir"
@model ChangePasswordModel
@{
    ViewData["Title"] = "Şifre Değiştir";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center">
    <div class="col-md-4">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="card">
            <div class="card-header bg-first text-white py-3 d-flex align-items-center">
                <h4 class="fw-bolder mt-2">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">



                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="mb-3">
                        <label asp-for="Input.OldPassword" class="fw-bolder mb-2 fs-14-px"></label>
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mevcut şifre" />

                        <span asp-validation-for="Input.OldPassword" class="text-danger fs-12-px"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.NewPassword" class="fw-bolder mb-2 fs-14-px"></label>
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Yeni şifre" />

                        <span asp-validation-for="Input.NewPassword" class="text-danger fs-12-px"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="fw-bolder mb-2 fs-14-px"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Yeni şifre tekrar." />

                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger fs-12-px"></span>
                    </div>
                    <button type="submit" class="w-100 btn auth-button-bg text-white">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
